apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: kubevirt-csi-sc
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: csi.kubevirt.org
parameters:
  # the name of the kubevirt storage domain. "nfs" is just an example.
  storageDomainName: "nfs"
  thinProvisioning: "true"
